.tree-component {
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: wheat;
    cursor: default;
}

.tree-component__text {
    font-size: 0.8em;
    text-align: center;
}

.add-tree-component {
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
}

.add-tree-component__btn {
    border-radius: 50%;
    padding: 10px 15px;
    border: 2px solid #000;
    margin-bottom: 10px;
}

.add-tree-component__text {
    font-size: 0.8em;
    text-align: center;
}